.cassetWindow {
    display: flex;
    flex-direction: column;
}
select {
    margin-bottom: 1.5em;
}

.cassetWindow > select {
    height: 50px;
    width: 1200px;
    padding: 5px;
    border-width: 5px;
    border-radius: .75em;
    border-color: rgb(55, 92, 99);
    align-self: center;
}

.cassette__content {
    display: flex;
    justify-content: space-between;
    gap: 2.5em;
    max-width: 1440px;
    width: 1200px;
    margin: 3em auto 0;
}
.preview {
    max-height: 600px;
    flex-grow: 0;
}
.cassette__content > section {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: space-between;
}
.cassette__description {
    font-size: 1.35em;
    line-height: 1.75em;
    flex-grow: 4;
}
.button__container {
    display: flex;
    justify-content: space-between;
}