ul {
    list-style: none;
}

.header {
    background-color: var(--header-bg-color);
    transition: background-color 350ms ease-in-out;
    margin-bottom: 3em;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: .75em 0;
}
.navigation {
}
.logo {
    width: 92px;
    cursor: pointer;
}
.list {
    list-style: none;
    display: flex;
    gap: 3em;
    font-size: 1.75em;
}
.list__item {
}
.list__item:hover {
    transform: translateY(-2px);
    transition: transform 200ms, color 100ms;
}
.list__link {
    text-decoration: none;
    font-weight: bold;
    color: var(--link-color);
}

.list__link:hover {
    color: color-mix(in oklab, #0ff, black 10%);
}