.modal {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 6;
    left: 0;
    top: 0;
    overflow: hidden;
}
.modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 400px;
    min-height: 200px;

    background-color: #fff;
    border-radius: 16px;
    padding: 1rem .5rem;
}

.modal__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    border-bottom: 1px solid #5b5b5b;
    margin-bottom: 16px;
}
i {
    cursor: pointer;
    color: #ff0000;
    font-size: 1.25em;
    display: flex;
    align-items: center;
}
.modal__content{}
.modal__footer{
    min-height: 96px;
}
.modal__footer > button {
    height: 100%;
    width: 72px;
}