:root {
    --header-bg-color: #BE2162;
    --light-grey: #d4d4d4;
}

.window.rental{
    min-height: 500px;
    max-height: none;
}

.rental {
    flex-grow: 2;
}
.rental-item {
    display: flex;
    justify-content: space-between;
    padding: 0.75em 1.5em;
}
.rental__client {
    font-size: 1.75em;
    padding-top: 0.25em;
}

.dropdown {
    position: relative;
}
.dropdown-arrow {
    position: absolute;
    top: .75em;
    left: -.75em;
}
.dropdown__title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-left: 15px solid var(--header-bg-color);
    transition: 550ms;
}
.dropdown__title.active::before {
    transform: rotate(-90deg);
    transform-origin: left center;
    transition: 550ms;
}

.dropdown__title {
    font-size: 1.5em;
    text-align: center;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    user-select: none;
    color: var(--header-bg-color);
    cursor: pointer;
    border: 2px solid var(--header-bg-color);
    padding: .5em;
    border-radius: .75em;
    transition: border-radius 315ms ease-in-out;
}
.dropdown__title:hover {
    background: color-mix(in oklab, var(--header-bg-color) 35%, white 12%);
}
.dropdown__title.active {
    background: color-mix(in oklab, var(--header-bg-color) 50%, black 0%);
    transition: border-radius 150ms ease-in-out;
    border-radius: .75em .75em 0 0;
}
.dropdown__body {
    overflow: hidden;
    z-index: 1;
    font-size: 1em;
    font-weight: normal;
    max-height: 0;
    transition: max-height 350ms ease-in-out;
    background-color: var(--light-grey);
    border-radius: 0 0 .75em .75em;
}
.dropdown__item {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    padding: .5em;
    cursor: pointer;
}
.dropdown__item:hover {
    background-color: color-mix(in oklab, var(--light-grey), black 20%);
}
.dropdown__title.active ~ .dropdown__body {
    max-height: 500px;
}

.cassette__title {
    color: var(--dark-color);
    font-size: 1.2em;
}
.cassette__status {
    color: var(--dark-color);
    font-size: 1.2em;
}